.todos {
    list-style: none;
    margin-left: 0;
}

.todos li {
    display: grid;
    grid-template-columns: 86px minmax(calc(100% - 86px), 20rem);
}

.todos img {
    width: 86px;
    height: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}

.my-logo>svg  {
    aspect-ratio: 1 / 1;
    width: 10rem;
}