header {
    display: grid;
    gap: 10px;

    /* There should be a better way to do this */
    grid-template-columns: repeat(2, 4rem) repeat(3, 2rem);
    align-items: center;
    margin-left: 5px;
    margin-top: 5px;
}



.header-logo {
    width: 2rem;
    aspect-ratio: 1 / 1;
}

.header-logo:hover {
    filter: drop-shadow(0 0 1em #fff);
}

header .text-button {
    border: solid var(--main-color) 1px;
    border-radius: 7px;
}