header {
  grid-area: header;
}

main {
  grid-area: main;
  max-width: 1440px;
  justify-self: center;
}

footer {
  grid-area: footer;
}

#root {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 50px 1fr 100px;
  height: 100vh;

  --body-margin: 8px;

  margin: var(--body-margin);
  text-align: center;
}

.project-dialog-wrapper {
  position: absolute;
  z-index: 9999;
}

.project-dialog-wrapper dialog {
  top: 4rem;
}