header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

#root {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 50px 1fr 100px;
  height: 100vh;

  --body-margin: 8px;

  margin: var(--body-margin);
  text-align: center;
}