header {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 20px) repeat(2, 150px);
}

dialog {
    padding: 0;
}

.dialog-wrapper {
    padding: 16px;
}

.project-container {
    display: grid;
}

.tag-logo {
    height: 1em;
}