header {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 2rem) repeat(2, 5rem);
}

dialog {
    padding: 0;
}

.dialog-wrapper {
    padding: 16px;
}

.project-container {
    display: grid;
}

.tag-logo {
    height: 1em;
}


.tag-strikethrough {
    position: relative;
}

.tag-strikethrough::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 50%;
    border-top: 3px solid red;
    transform: rotate(-45deg);
}