header {
    display: grid;
    gap: 10px;
    /* There should be a better way to do this*/
    grid-template-columns: repeat(2, 2rem) 5rem repeat(3, 2rem);
    align-items: center;
}

.header-logo {
    width: 2rem;
}

.header-logo:hover {
    filter: drop-shadow(0 0 1em #ffffff);
}

dialog {
    padding: 0;
}

.dialog-wrapper {
    padding: 16px;
}

.project-container {
    display: grid;
}

.tag-logo {
    height: 1em;
}


.tag-strikethrough {
    position: relative;
}

.tag-strikethrough::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 50%;
    border-top: 3px solid red;
    transform: rotate(-45deg);
}